<section>
  <p>Cadastrar</p>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="campos">
      <div>
        <label for="nome">Nome da Tarefa</label>
        <input type="text" formControlName="nome" [(ngModel)]="nome">
      </div>
      <div>
        <label for="">Descrição</label>
        <input type="text" formControlName="descricao" [(ngModel)]="descricao">
      </div>
    </div>
    <div class="botao">
      <button type="submit">Salvar</button>
    </div>
  </form>
</section>
